---
{{ if gt (len (split .Name "_")) 2 -}}
page_title: "{{ index (split .Name "_") 1 | title }}: {{ .Name }}"
{{- else -}}
page_title: "{{ .Name }} {{.Type}} - {{.ProviderName}}"
{{- end }}
{{ if gt (len (split .Name "_")) 2 -}}
subcategory: "{{ index (split .Name "_") 1 | title }}"
{{- else -}} 
subcategory: ""
{{- end }}
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ range $index, $element := (split .Name "_") }}{{ if ne $index 0 }}{{ if ne $index 1 }} {{ end }}{{ title $element }}{{ if eq $index 1 }}:{{ end }}{{ end }}{{ end }} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile }}
{{- end }}