---
page_title: "{{ range $index, $element := (split .Name "_") }}{{ if ne $index 0 }} {{ end }}{{ title $element }}{{ end }} {{.Type}} - {{.ProviderName}}"
{{ if gt (len (split .Name "_")) 2 -}}
subcategory: "{{ index (split .Name "_") 1 | title }}"
{{- else -}} 
subcategory: ""
{{- end }}
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ range $index, $element := (split .Name "_") }}{{ if ne $index 0 }}{{ if ne $index 1 }} {{ end }}{{ title $element }}{{ end }}{{ end }} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
{{- end }}